---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Footer from "@/Components/Footer.astro";
import Header from "@/Components/Header/Header.astro";
import Layout from "@/Layouts/Layout.astro";
import Card from "@/Components/Card.astro";
import AstroIcon from "@/Components/Icons/AstroIcon.astro";
import TypeScriptIcon from "@/Components/Icons/TypeScriptIcon.astro";
import CSSIcon from "@/Components/Icons/CSSIcon.astro";

interface CopyItem {
  title: string;
  subtitle: string;
  description: string;
}
interface DeveloperInfo {
  title: string;
  platform: string;
  href: string;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const iframeSrc =
  "https://embed.figma.com/design/vchKAP63D4inZc2YMm3sCq/Kenowa?node-id=501-1599&embed-host=share";
const iframeProps = {
  loading: "lazy" as "lazy",
  title: "Kenowa Figma Design",
  width: "500",
  height: "450",
  allowfullscreen: true,
  class: "iframe",
  src: iframeSrc,
};
export const prerender = false;

const copy: CopyItem[] = [
  {
    title: t("p.copy.title.2"),
    subtitle: t("p.copy.subtitle.2"),
    description: t("p.copy.description.2"),
  },
  {
    title: t("p.copy.title.1"),
    subtitle: t("p.copy.subtitle.1"),
    description: t("p.copy.description.1"),
  },
  {
    title: t("p.copy.title.3"),
    subtitle: t("p.copy.subtitle.3"),
    description: t("p.copy.description.3"),
  },
];
const developerInfo: DeveloperInfo[] = [
  {
    title: "CV & Work info",
    platform: "linkedin",
    href: "https://www.linkedin.com/in/sheila-álamo/",
  },
  {
    title: "Web Code",
    platform: "github",
    href: "https://github.com/sheilaalamoalarcon",
  },
  {
    title: "Other Works",
    platform: "portfolio",
    href: "portfolio-sheilaalamoalarcons-projects.vercel.app",
  },
];
---

<Layout title="Kenowa">
  <Header />
  <main class="main-container">
    <section class="first-section" id="scroll-animate">
      <h1>{t("landing.title")}</h1>
      <p class="mt-4 text-base">
        {t("copy.welcomeMessage")}
      </p>
    </section>
    <section class="index-card-group">
      {
        copy.map(({ title, description, subtitle }) => (
          <Card title={title} subtitle={subtitle} description={description} />
        ))
      }
    </section>
    <article id="scroll-animate">
      <h2 class="subtitle">{t("project.description.title")}</h2>
      <p class="detail-text">
        {t("project.description.strong")}
      </p>
      <p>{t("project.description")}</p>
    </article>
    <article id="scroll-animate">
      <h2 class="subtitle">{t("project.development.justification")}</h2>
      <p>
        {t("project.development.justification.text")}
      </p>
    </article>
    <figure class="stack-figure" id="scroll-animate">
      <AstroIcon />
      <TypeScriptIcon />
      <CSSIcon />
    </figure>
    <iframe {...iframeProps}></iframe>
    <section class="dev-information">
      {
        developerInfo.map((info) => (
          <Card title={info.title} subtitle={info.platform} href={info.href} />
        ))
      }
    </section>
  </main>
  <Footer />
</Layout>
