---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";

interface CopyItem {
  title: string;
  subtitle: string;
  description: string;
}
interface DeveloperInfo {
  title: string;
  platform: string;
  href: string;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const iframeSrc =
  "https://embed.figma.com/design/vchKAP63D4inZc2YMm3sCq/Kenowa?node-id=501-1599&embed-host=share";
const iframeProps = {
  loading: "lazy" as "lazy",
  title: "Kenowa Figma Design",
  width: "500",
  height: "450",
  allowfullscreen: true,
  class: "iframe",
  src: iframeSrc,
};
export const prerender = false;

const copy: CopyItem[] = [
  {
    title: t("p.copy.title.2"),
    subtitle: t("p.copy.subtitle.2"),
    description: t("p.copy.description.2"),
  },
  {
    title: t("p.copy.title.1"),
    subtitle: t("p.copy.subtitle.1"),
    description: t("p.copy.description.1"),
  },
  {
    title: t("p.copy.title.3"),
    subtitle: t("p.copy.subtitle.3"),
    description: t("p.copy.description.3"),
  },
];
const developerInfo: DeveloperInfo[] = [
  {
    title: "CV & Work info",
    platform: "linkedin",
    href: "https://www.linkedin.com/in/sheila-álamo/",
  },
  {
    title: "Web Code",
    platform: "github",
    href: "https://github.com/sheilaalamoalarcon",
  },
  {
    title: "Other Works",
    platform: "portfolio",
    href: "portfolio-sheilaalamoalarcons-projects.vercel.app",
  },
];

/*Astro Icon */
const astroSVGProps = {
  width: 106,
  height: 32,
  viewBox: "0 -6 381 100",
  role: "img" as "img",
  "aria-labelledby": "astro-logo",
};
const astroPathFireProps = {
  d: "M25.8 85.2c-4.5-4.2-5.9-12.8-4-19.1 3.3 4 7.8 5.2 12.5 6 7.2 1 14.3.6 21-2.7l2.4-1.4c.6 1.8.8 3.7.5 5.6-.5 4.5-2.8 8-6.4 10.7-1.4 1.1-3 2-4.5 3-4.6 3.2-5.8 6.8-4 12.1v.6a12 12 0 0 1-5.3-4.6 13 13 0 0 1-2-7c0-1.2 0-2.5-.2-3.7-.4-3-1.8-4.3-4.5-4.4a5.2 5.2 0 0 0-5.4 4.2l-.1.7Z",
  class: "non-focusable-icon",
};
const astroPathRocketAndLetters = {
  class: "non-focusable-icon",
  d: "M0 65s13.4-6.5 26.8-6.5l10.1-31.3c.4-1.5 1.5-2.5 2.7-2.5 1.3 0 2.4 1 2.8 2.5l10 31.3c16 0 26.9 6.5 26.9 6.5L56.5 3c-.6-1.8-1.7-3-3.2-3H26c-1.5 0-2.5 1.2-3.2 3L0 65Zm141-19.9c0 5.5-6.8 8.8-16.2 8.8-6.2 0-8.3-1.5-8.3-4.7 0-3.4 2.6-5 8.8-5 5.5 0 10.3 0 15.7.8v.1Zm.1-6.8a71 71 0 0 0-14.5-1.2c-17.7 0-26 4.2-26 14 0 10.1 5.7 14 18.8 14 11.2 0 18.8-2.8 21.6-9.8h.4l-.1 4.7c0 3.6.6 3.9 3.5 3.9h13.8c-.8-2.2-1.2-8.2-1.2-13.4l.2-15.4c0-11.5-6.9-18.8-28.5-18.8-9.3 0-19.6 1.6-27.5 4 .8 3.1 1.8 9.4 2.3 13.5a61.4 61.4 0 0 1 24-4.5c10.4 0 13.2 2.3 13.2 7.1v2Zm37.9 10c-1.9.3-4.5.3-7 .3a60 60 0 0 1-7.1-.4l-.1 2c0 9.5 6.2 15 28.1 15 20.6 0 27.3-5.5 27.3-15.1 0-9.2-4.4-13.7-24-14.7-15.2-.6-16.6-2.3-16.6-4.2 0-2.2 2-3.4 12.2-3.4 10.6 0 13.4 1.5 13.4 4.5v.7a153 153 0 0 1 14.1 0v-1.7c0-11.2-9.2-14.9-27.2-14.9-20.3 0-27 5-27 14.6 0 8.7 5.4 14.1 24.8 15 14.3.4 16 2 16 4.2 0 2.4-2.4 3.5-12.5 3.5-11.5 0-14.4-1.6-14.4-5v-.4Zm66-40.1a58.2 58.2 0 0 1-20.8 11.6v10.8h5V47c0 10 5.3 17.7 21.8 17.7 7 0 11.6-.8 17.4-2-.6-3.7-1.3-9.4-1.5-13.8a41 41 0 0 1-12.6 1.8c-6.6 0-9.3-1.8-9.3-7.1V30.8c8.6 0 17.1.2 22.1.4 0-4 .1-9.7.3-13.5l-22.1.2.2-9.7h-.5Zm44.7 20.1.3-10.6h-15.1c.2 6.5.2 13.3.2 23 0 10 0 16.7-.2 23.2H292c-.3-4.6-.3-12.3-.3-18.9 0-10.3 4.2-13.3 13.7-13.3 4.4 0 7.6.5 10.3 1.5.1-3.8.9-11.4 1.3-14.7a34 34 0 0 0-9.8-1.4c-8.2 0-14.2 3.3-17 11.3l-.6-.1Zm75.1 12.2c0 8.3-6 12.2-15.4 12.2S334 49 334 40.5c0-8.6 6-11.8 15.4-11.8 9.3 0 15.4 3.5 15.4 11.8Zm15.7-.4c0-16.5-13-24-31.1-24-18.3 0-30.8 7.5-30.8 24s11.6 25.3 30.7 25.3c19.2 0 31.2-8.8 31.2-25.3Z",
};

/*TypeScript Icon */
const typeScriptIconHeight = 26;
const typeScriptIconWidth = 27;

const typeScriptSVGProps = {
  fill: "none",
  height: typeScriptIconHeight,
  viewBox: "0 0 27 26",
  width: typeScriptIconWidth,
  role: "img" as "img",
  "aria-labelledby": "TypeScript-logo",
};

const typeScriptPathProps = {
  "clip-rule": "evenodd",
  d: "m.98608 0h24.32332c.5446 0 .9861.436522.9861.975v24.05c0 .5385-.4415.975-.9861.975h-24.32332c-.544597 0-.98608-.4365-.98608-.975v-24.05c0-.538478.441483-.975.98608-.975zm13.63142 13.8324v-2.1324h-9.35841v2.1324h3.34111v9.4946h2.6598v-9.4946zm1.0604 9.2439c.4289.2162.9362.3784 1.5218.4865.5857.1081 1.2029.1622 1.8518.1622.6324 0 1.2331-.0595 1.8023-.1784.5691-.1189 1.0681-.3149 1.497-.5879s.7685-.6297 1.0187-1.0703.3753-.9852.3753-1.6339c0-.4703-.0715-.8824-.2145-1.2365-.1429-.3541-.3491-.669-.6186-.9447-.2694-.2757-.5925-.523-.9692-.7419s-.8014-.4257-1.2743-.6203c-.3465-.1406-.6572-.2771-.9321-.4095-.275-.1324-.5087-.2676-.7011-.4054-.1925-.1379-.3409-.2838-.4454-.4379-.1045-.154-.1567-.3284-.1567-.523 0-.1784.0467-.3392.1402-.4824.0935-.1433.2254-.2663.3959-.369s.3794-.1824.6269-.2392c.2474-.0567.5224-.0851.8248-.0851.22 0 .4523.0162.697.0486.2447.0325.4908.0825.7382.15.2475.0676.4881.1527.7218.2555.2337.1027.4495.2216.6475.3567v-2.4244c-.4015-.1514-.84-.2636-1.3157-.3365-.4756-.073-1.0214-.1095-1.6373-.1095-.6268 0-1.2207.0662-1.7816.1987-.5609.1324-1.0544.3392-1.4806.6203s-.763.6392-1.0104 1.0743c-.2475.4352-.3712.9555-.3712 1.5609 0 .7731.2268 1.4326.6805 1.9785.4537.546 1.1424 1.0082 2.0662 1.3866.363.146.7011.2892 1.0146.4298.3134.1405.5842.2865.8124.4378.2282.1514.4083.3162.5403.4946s.198.3811.198.6082c0 .1676-.0413.323-.1238.4662-.0825.1433-.2076.2676-.3753.373s-.3766.1879-.6268.2473c-.2502.0595-.5431.0892-.8785.0892-.5719 0-1.1383-.0986-1.6992-.2959-.5608-.1973-1.0805-.4933-1.5589-.8879z",
  class: "non-focusable-icon",
  "fill-rule": "evenodd" as "evenodd",
};

/*CSS Icon */

const cssIconHeight = 26;
const cssIconWidth = 26;
const cssSVGProps = {
  width: cssIconWidth,
  height: cssIconHeight,
  viewBox: "0 0 1000 1000",
  role: "img" as "img",
  "aria-labelledby": "css-logo-title css-logo-description",
};
const cssPathBackgroundProps = {
  class: "non-focusable-icon",
  d: "M0 0H840A160 160 0 0 1 1000 160V840A160 160 0 0 1 840 1000H160A160 160 0 0 1 0 840V0Z",
};
const cssPathLettersProps = {
  class: "fill-stone-50 dark:fill-stone-700",
  d: "M816.54 919.9c-32.39 0-57.16-9.42-74.5-28.35-17.15-19.03-26.08-46.18-26.88-81.64h69.8c.4 31.36 11.42 47.08 33.08 47.08 11.04 0 18.86-3.5 23.37-10.42 4.41-6.9 6.72-17.93 6.72-33.05 0-12.02-3.01-22.04-8.83-29.95a73.2 73.2 0 0 0-29.48-21.14L783.95 750c-23.06-11.02-39.81-24.04-50.14-39.27-10.03-15.13-15.04-36.36-15.04-63.5 0-30.36 8.83-55 26.37-73.94 18.05-18.93 42.62-28.34 74-28.34 30.3 0 53.76 9.31 70.3 27.84 16.85 18.64 25.67 45.28 26.38 80.14h-67.19c.4-11.4-1.9-22.72-6.72-33.06-3.8-7.6-11.23-11.41-22.26-11.41-19.65 0-29.48 11.71-29.48 35.05 0 11.83 2.4 21.04 7.22 28.05A65.18 65.18 0 0 0 822.76 689l24.77 10.92c25.57 11.72 44.02 26.05 55.35 43.38 11.43 17.23 17.05 40.27 17.05 69.12 0 34.56-9.03 61.1-27.38 79.63-18.25 18.53-43.62 27.85-76 27.85Zm-225.42 0c-32.4 0-57.16-9.42-74.51-28.35-17.15-19.03-26.07-46.18-26.87-81.64h69.79c.4 31.36 11.43 47.08 33.1 47.08 11.02 0 18.84-3.5 23.25-10.42 4.52-6.9 6.72-17.93 6.72-33.05 0-12.02-2.9-22.04-8.72-29.95a73.2 73.2 0 0 0-29.48-21.14L558.53 750c-23.07-11.02-39.81-24.04-50.14-39.27-10.03-15.13-15.04-36.36-15.04-63.5 0-30.36 8.82-55 26.37-73.94 18.05-18.93 42.62-28.34 74-28.34 30.29 0 53.75 9.31 70.2 27.84 17.05 18.64 25.77 45.28 26.47 80.14h-67.18c.4-11.4-1.9-22.72-6.72-33.06-3.81-7.6-11.23-11.41-22.26-11.41-19.66 0-29.49 11.71-29.49 35.05 0 11.83 2.41 21.04 7.22 28.05A65.18 65.18 0 0 0 597.33 689l24.77 10.92c25.57 11.72 44.02 26.05 55.36 43.38 11.33 17.23 17.04 40.27 17.04 69.12 0 34.56-9.12 61.1-27.37 79.63-18.25 18.53-43.62 27.85-76.01 27.85Zm-234.75 0c-31.7 0-56.86-8.62-75.51-25.85-18.65-17.12-27.88-42.87-27.88-76.93V648.83c0-33.85 9.83-59.5 29.48-77.13 19.96-17.43 46.13-26.24 78.52-26.24 31.39 0 56.15 9.01 74.5 26.84 18.56 17.93 27.88 44.58 27.88 80.14v13.32h-73.9v-12.92c0-13.72-3.01-23.84-8.83-30.45a26.46 26.46 0 0 0-21.66-10.32c-12.03 0-20.55 4.1-25.37 12.42a79.04 79.04 0 0 0-6.72 36.66v146.26c0 30.55 10.74 46.08 32.1 46.38 10.02 0 17.54-3.61 22.76-10.82a51.74 51.74 0 0 0 7.72-30.46V801.6h73.9v11.42c0 23.74-4.61 43.57-13.94 59.4a88.8 88.8 0 0 1-38.2 35.66 121.46 121.46 0 0 1-54.85 11.82Z",
};
---

<Layout title="Kenowa">
  <Header />
  <main class="main-container">
    <section class="first-section" id="scroll-animate">
      <h1>{t("landing.title")}</h1>
      <p class="mt-4">
        {t("copy.welcomeMessage")}
      </p>
    </section>
    <section class="index-card-group">
      {
        copy.map(({ title, description, subtitle }) => (
          <Card title={title} subtitle={subtitle} description={description} />
        ))
      }
    </section>
    <section class="development-information">
      <article id="scroll-animate">
        <h2 class="subtitle">{t("project.description.title")}</h2>
        <p class="detail-text">
          {t("project.description.strong")}
        </p>
        <p>{t("project.description")}</p>
      </article>
      <article id="scroll-animate">
        <h2 class="subtitle">{t("project.development.justification")}</h2>
        <p>
          {t("project.development.justification.text")}
        </p>
      </article>
      <figure class="stack-figure" id="scroll-animate">
        <svg {...astroSVGProps}>
          <path {...astroPathFireProps}></path>
          <path {...astroPathRocketAndLetters}></path>
        </svg>
        <svg {...typeScriptSVGProps}>
          <path {...typeScriptPathProps}> </path>
        </svg>
        <svg {...cssSVGProps}>
          <title id="css-logo-title">CSS Logo</title>
          <desc id="css-logo-description"
            >A purple square with rounded corners and the letters CSS inside in
            white</desc
          >
          <path {...cssPathBackgroundProps}></path>
          <path {...cssPathLettersProps}></path>
        </svg>
      </figure>
    </section>
    <iframe {...iframeProps}></iframe>
    <section class="dev-information">
      {
        developerInfo.map((info) => (
          <Card title={info.title} subtitle={info.platform} href={info.href} />
        ))
      }
    </section>
  </main>
  <Footer />
</Layout>
