---
import Layout from "../layouts/Layout.astro";
import Header from "@/components/Header/index";
import LandingImages from "../components/LandingImages.astro";
import Footer from "@/components/Footer/Footer.astro";
import Image from "astro/components/Image.astro";
import { ClickActions, WebRoutesEnum } from "@/constants/enums";
import ParagraphGroup from "@/components/ParagraphGroup.astro";
import {
  landingCopies,
  landingImages,
  welcomeMessage,
} from "@/constants/constants";
import Button from "@/components/Button";
---

<Layout title="Kenowa">
  <main>
    <Header client:only="react" />
    <div id="welcome-message">
      <Image
        src="/landing-top-image.svg"
        alt="landing-top"
        class="top-image"
        loading={"eager"}
        width={697}
        height={464}
      />
      <div id="copy">
        <p class="body" style="text-align: center; padding: 5dvh 0;">
          {welcomeMessage}
        </p>
        <Button
          title="start sharing"
          clickAction={ClickActions.NAVIGATE}
          navigateTo={WebRoutesEnum.GLOBAL_CHAT}
          client:only="react"
          background
        />
      </div>
    </div>

    <LandingImages images={landingImages} />
    <ParagraphGroup content={landingCopies} />

    <Footer />
  </main>

  <style>
    @media (min-width: 500px) and (max-width: 991px) /*/mobile size*/ {
      main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 4.625rem;
      }
      #welcome-message {
        flex-direction: column;
      }
      .top-image {
        width: 100%;
      }
      #copy {
        max-width: 100%;
      }
    }

    @media (min-width: 992px) {
      main {
        display: flex;
        flex-direction: column;
        color: var(--text);
        align-items: center;
        gap: 4.625rem;
      }
      #welcome-message {
        display: flex;
        padding: 0rem 3.125rem;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
      }
      #copy {
        max-width: 50%;
      }

      .top-image {
        width: 100%;
      }
    }
  </style>
</Layout>
