---
import { ClickActions } from "@/constants/enums";
import CustomButton from "./CustomButton";

interface Props {
  vendor: string;
  productName: string;
  productCost: number;
  description: string;
}

const { vendor, description, productName, productCost } = Astro.props;
const buttonTitle = "add to bag";
const warning = "Return up to 30 days";
---

<div id="product-details-container" class="row">
  <h1 id="product-name">{productName}</h1>
  <h2 id="product-cost">{productCost}</h2>
  <CustomButton
    title={buttonTitle}
    clickAction={ClickActions.NONE}
    client:load
  />
  <div id="product-information">
    <p id="product-information-vendor">Selled by {vendor}</p>
    <p id="product-information-warning">{warning}</p>
  </div>
  <h3 id="product-description">{description}</h3>
</div>
<style>
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
  #product-details-container {
    display: flex;
    flex-direction: column;
  }
  #product-title {
    color: #000;

    /* HEADING_1 */
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 3.3rem */
  }
  #product-cost {
    color: var(--TEXT, #45362f);
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  #product-information {
    display: flex;
    height: 7.25rem;
    padding-bottom: 0.75rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;

    border-radius: var(--Corner-Extra-small, 0.25rem);
    border: 2px dashed var(--PRIMARY, #f36337);
  }
  #product-information-vendor {
    display: flex;
    width: 97%;
    justify-content: center;
    padding: 0.625rem;
    align-items: center;
    gap: 0.625rem;

    border-bottom: 3px dashed var(--PRIMARY, #f36337);
  }
  #product-description {
    width: 100%;
    color: var(--TEXT, #45362f);

    /* BODY_BIG_REGULAR */
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @media (min-width: 730px) {
    .row {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  /*(max-width:991) */
</style>
