---
interface Props {
  title: string;
  description?: string;
  subtitle?: string;
  variant?: "default" | "highlight";
  href?: string;
}

const { title, description, subtitle, variant = "default", href } = Astro.props;
---

<article
  id="scroll-animate"
  class:list={[
    "flex flex-col p-12 rounded shadow-2xl border-2",
    "border-amber-50/10 dark:shadow-amber-500/50",
    "sm:gap-1 text-center",
    variant === "highlight" && "bg-stone-600/5",
  ]}
>
  <h2 class="subtitle">
    {title}
  </h2>
  {
    subtitle && (
      <h3 class="text-md capitalize text-orange-600/70 dark:text-orange-500/80">
        {subtitle}
      </h3>
    )
  }
  {
    description &&
      (href ? (
        <a class="body my-4 text-stone-600 dark:text-stone-50" href={href}>
          {description}
        </a>
      ) : (
        <p class="body my-4 text-stone-600 dark:text-stone-50">{description}</p>
      ))
  }
</article>
