---
interface Props {
  src: string;
  title: string;
  subtitle: string;
  horizontal?: boolean;
}
const { src, title, subtitle, horizontal } = Astro.props;
const productCardClass = horizontal ? "product-card-big" : "product-card";
---

<div id={productCardClass}>
  <img
    src={src}
    alt=`${productCardClass}-image`
    id=`${productCardClass}-image`
  />
  <p id=`${productCardClass}-text`>{title}</p>
  <p id=`${productCardClass}-additional-text`>{subtitle}</p>
  {
    horizontal && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="876"
        height="12"
        viewBox="0 0 876 12"
        fill="none"
      >
        <path
          d="M1.5 5C0.947715 5 0.5 5.44772 0.5 6C0.5 6.55228 0.947715 7 1.5 7V5ZM875.273 6L869.5 0.226497L863.726 6L869.5 11.7735L875.273 6ZM1.5 7H869.5V5H1.5V7Z"
          fill="#FEDE71"
        />
      </svg>
    )
  }
</div>
<style>
  #product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 0.8125rem;
  }
  #product-card-image {
    width: 9.375rem;
    height: 6.5rem;
    border-radius: var(--Corner-Medium, 0.75rem);
    background:
      url(<path-to-image>) lightgray 50% / cover no-repeat,
      var(--ERROR, #e54543);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  #product-card-text {
    align-self: stretch;

    color: var(--TEXT, #45362f);

    /* BODY_BIG_REGULAR */
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  #product-card-additional-text {
    color: var(--PRIMARY, #f36337);
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  #product-card-big {
    display: flex;
    width: 56.75rem;
    padding: 0.9375rem 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.25rem;

    border-radius: var(--Corner-Medium, 0.75rem);
  }
  #product-card-big-image {
    height: 21rem;
    min-height: 21rem;
    align-self: stretch;

    border-radius: var(--Corner-Medium, 0.75rem);
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    object-fit: cover;
  }
  #product-card-big-text {
    color: var(--PRIMARY, #f36337);
    text-align: center;

    /* HEADING_5 */
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 1.375rem */
  }
  #product-card-big-additional-text {
    align-self: stretch;
    color: var(--TEXT, #45362f);

    /* BODY_BIG_REGULAR */
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
</style>
