---
import TextButton from "@/components/TextButton.astro";

interface ButtonProps {
  value: string;
  title: string;
  disabled: boolean;
}

interface Props {
  basic: ButtonProps[];
  article: ButtonProps[];
}
const { basic, article } = Astro.props;
---

<aside id="basic-font-styles" class="flex flex-col gap-2 w-full">
  <div class="flex flex-row w-full justify-between">
    {
      basic.map((button) => {
        return (
          <TextButton
            value={button.value}
            disabled={button.disabled}
            title={button.title}
          />
        );
      })
    }
  </div>
  <div class="flex flex-row w-full justify-between">
    {
      article.map((button) => {
        return (
          <TextButton
            value={button.value}
            disabled={button.disabled}
            title={button.title}
          />
        );
      })
    }
  </div>
</aside>
